/* Class names prefixes */
$prefix: 'gjs-' !default;

/* Colors / Theme */
$primaryColor: #2d447b !default;
$secondaryColor:    #ddd !default;
$tertiaryColor:     #bcb6fa !default;
$quaternaryColor:   #fff !default;
